.calculator-container {
  height: 100vh;
  width: 100vw;
}

.calculator {
  background-color: #eff5e4 !important;
  padding: 30px;
  /*height: 60%; */
  width: 40%;
}

.input {
  border: none;
  outline: none;
  height: 40px;
  text-align: right;
  padding: 5px;
  font-weight: 700;
}

.button {
  width: 20%;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 500;
}

.orange {
  color: #fa7602;
}

.equal-button {
  color: #ffffff;
  background-color: #fa7602;
}
